<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuizEnglish"
        tools:targetApi="31">
        <activity
            android:name=".TheoryCourPreIntermediateActivity"
            android:exported="false" />
        <activity
            android:name=".CoursePreIntermediateActivity"
            android:exported="false" />
        <activity
            android:name=".ResultCourActivity"
            android:exported="false" />
        <activity
            android:name=".QuizCourActivity"
            android:exported="false" />
        <activity
            android:name=".QuizVocActivity"
            android:exported="false" />
        <activity
            android:name=".TheoryCourElementaryActivity"
            android:exported="false" />
        <activity
            android:name=".TheoryCourBeginnerActivity"
            android:exported="false" />
        <activity
            android:name=".ResultVocActivity"
            android:exported="false" />
        <activity
            android:name=".TheoryVocActivity"
            android:exported="false" />
        <activity
            android:name=".CourseElementaryActivity"
            android:exported="false" />
        <activity
            android:name=".CourseBeginnerActivity"
            android:exported="false" />
        <activity
            android:name=".CourseActivity"
            android:exported="false" />
        <activity
            android:name=".InfoActivity"
            android:exported="false" />
        <activity
            android:name=".VocabularyActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".RegistrationActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>